{% extends 'base.html.twig' %}

{% block title %}Гостевая книга конференций{% endblock %}

{% block body %}
    <h2>Оставьте Ваш отзыв!</h2>

    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
    {% endfor %}
{% endblock %}